.admin-page {
  margin-top: 90px;
  font-family: "Josefin Sans", sans-serif;
}
.admin-translist {
  font-size: 40px;
  margin-bottom: 50px;
  font-weight: bold;
}
.admin-table {
  font-size: 20px;
}
.admin-button-icon {
  width: 25px;
  height: 25px;
}
.admin-button {
  background-color: transparent;
  border: solid transparent;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  filter: contrast(90%);
}
.admin-button:hover {
  filter: contrast(200%);
}
.admin-table-data {
}
.invoice-modal {
  padding: 20px;
}
.invoice-modal-quiticon {
  width: 30px;
  height: 30px;
}
.invoice-modal-quitbutton {
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  border: solid transparent;
  background-color: transparent;
}
.invoice-modal-save-button{
  background-color: #3066BE;
  border: solid transparent;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}
.admin-attachment{
  height: 180px;
}
.admin-attachmentx{
  width: 70px;
  height: 140px;
  filter: invert();
  height: 180px;
}
.admin-edit-save{
  margin-top: 50px;
}